i3-wm
polybar
alacritty
rofi
dunst
picom
feh
betterlockscreen
xss-lock
nm-applet
polkit-gnome
gvfs
gvfs-mtp
udiskie
udisks2
flameshot
light
playerctl
i3-resurrect
bluez
bluez-utils
networkmanager
wget
unzip
fontconfig
